.apresentacao{
    font-size: 4rem;
    display: flex;
    width: 100%;
    height: 100vh;
}
.texto_apr{
    text-align: center;
    margin-top: 18%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
}   
.nome, .animacao{
    color: rgb(174, 0, 255);
}

@media (min-width:320px),(max-width: 425px){
    .texto_apr{
        margin-top: 35vh;
        font-size: 2rem;
        line-height: 1.2;
    }
}
@media (min-width: 725px){
    .texto_apr{
        margin-top: 18%;
        font-size: 3rem;
        line-height: normal;
    }
}

