.projetos{
    height: 100vh;
    width: 100%;
}
.proj_titulo{
    height: fit-content;
    width: 30%;
    font-size: 2rem;
    background-color: white;
    border-radius: 40px;
    color: rgb(174, 0, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.proj_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.proj_box ul{

    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 1vh;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.proj_box li{

    border: 1px solid white;
    transition: transform 0.5s ease;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: rgb(62, 49, 80);
    transition: transform 0.3s ease;
}
.proj_box li:hover{
    transform: scale(1.1);
}
@media (min-width:320px),(max-width: 415px){
    .projetos{
        height: fit-content;
        margin-top: 50%;
        font-size: 1rem;
    }
    .proj_titulo{
        font-size: 1.5rem;
        width: 40%;
    }
    .proj_box li{
        width: 20vh;
        height: 30vh;
        margin: 5vh 1vh;
    }
    .proj_box ul{
        width: 80%;
    }
    .proj_box{
        margin-top: 5vh;
    }
}
@media (min-width:415px){
    .projetos{
        font-size: 2rem;
        margin-top: 25rem;
        
    }
    .proj_titulo{
        font-size: 2.5rem;
        width: 25%;
    }
    .proj_box li{
        margin: 10vh 3vh ;
        height: 50vh;
        width: 50vh;
        box-shadow: rgba(73, 18, 124, 0.56) 0px 22px 70px 4px;

    }
    .proj_box ul li{
        display: inline-block;
        
    }
    .proj_box ul{
        width: 100%;
    }
}