.contato{
    width: 100%;
    height: 100%;
    justify-content: center;
}
.cont_titulo{
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    border-radius: 40px;
    height: auto;
    width: 30%;
    background-color: white;
    color: rgb(174, 0, 255);
    text-align: center;
}
.cont_texto{
    flex: 1;
    font-size: 2rem;
    margin-top: 10%;
    margin-left: 10%;
    width: 30%;
}

.contato {
    padding: 20px;
}

.td_contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cont_texto {
    flex: 1; 
}

.formas_ctt {
    font-size: 2rem;
    margin-top: 10%;
    margin-right: 5%;
    text-align: center;
    width: 30%;
    background-color: rgb(62, 49, 80);
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.formas_ctt ul li{
    display: inline;
    list-style: none;
    font-size: 3rem;
}
.bibi{
    width: 3rem;
    height: 3rem;
}