.habi_titulo{
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width:30%;
    background-color: white;
    color: rgb(174, 0, 255);
    border-radius: 40px;

}
.habilidades{
    height: 40rem;
    width: 100%;
    background-color: rgb(62, 49, 80);
    margin-top: 20rem;
    border-top: solid 5px;
    border-bottom: solid 5px;
}
.habi_texto{
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 5rem
   
}
.icons i {
    width: 1000px;
    height: 14000px;
}