.navbar {
    font-size: 2.5rem;
    color: aliceblue;
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
  }
.logo ul{
  color: white;
}

  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;

  }
  
  .nav__itens a {
    position: relative;
    padding: 0 50px;
    color: rgb(174, 0, 255);
  }
  
  .nav__itens a:after {
    content: "";
    position: absolute;
    background-color: rgb(174, 0, 255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .nav__itens a:hover {
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }
  
  .nav__itens a:hover:after {
    width: 100%;
  }
  .logo{
    margin-left: 0px;
    height: 0px;
    width: 0px;
  }
  .logo img{
    height: 150px;
    width: 150px;
    margin-left: 50px;
  }