.navbar {
    font-size: 1.5rem;
    color: aliceblue;
    width: 100%;
    height: 8rem;
    position:absolute;
    top: 3rem;
    justify-content: end;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 3rem;
    margin-left: 13rem;
    margin-right: 2rem;
    border-bottom: 0.1px solid;
    
  }
  
  .nav__itens a {
    position: relative;
    padding:  20px;
    color: rgb(174, 0, 255);
  }
  
  .nav__itens a:after {
    content: "";
    position: absolute;
    top:3rem;
    background-color: rgb(174, 0, 255);
    height: 3px;
    width: 0;
    left: 0;
    transition: 0.5s;
  }
  
  .nav__itens a:hover {
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }
  
  .nav__itens a:hover:after {
    width: 100%;
  }
  .logo{
    margin-left: 0px;
    height: 0px;
    width: 0px;
    top: 0;
  }
  .logo img{
    height: 150px;
    width: 150px;
    margin-left: 50px;
    margin-top: -2.5rem;
  }