.projetos{
    font-size: 2rem;
    border-top: 1px solid;
    border-top-color:rgb(28, 28, 29) ;
}
.proj_titulo{
    height: fit-content;
    width: 30%;
    font-size: 2rem;
    background-color: white;
    border-radius: 40px;
    color: rgb(174, 0, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
.proj_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.proj_box ul{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
.proj_box ul li{
    display: inline-block;
}
.proj_box li{
    margin: 10vh 5vh ;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vh;
    background-color: rgb(62, 49, 80);
}
.proj_box li:hover{
    transform: scale(1.1);
}