.sobre_mim{

    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 37rem;
    font-size: 1rem;
    border-radius: 10%;
    width: 80%;
    margin-left: 25%;

}
.sm_titulo{
    text-align: center;
    color: rgb(174, 0, 255);
    border-radius: 40px;
    height:fit-content;
    width: 50%;
    background-color: rgb(236, 236, 236);
    margin: auto;
    font-size: 2rem;
}
.sm_texto{
    margin-top: 1.5rem;
}
.tudo_sm{
    
}

.eu{
    width: 50%; 
    height: auto; 
    margin-top: 85vh;
    margin-left: 25%;

}
.eu img{
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    height: 20rem;
    width: 20rem;
    transition: transform 0.5s ease;
}
.eu:hover img{
    transform: scale(1.1);
}
.peloamordedeus{
    display: grid;
    grid-template-columns:1fr 1fr ;
}
.link{
    transition: transform 0.5s ease;
    text-decoration-line:underline ;
    width: auto;
    height: auto;
    display: inline-flex;
    transition: 0.3s;
}
.link:hover{
    transform: scale(1.1);
    color:rgb(174, 0, 255) ;
}
.link::after{
    background-color:rgb(174, 0, 255) ;
}