.sobre_mim{
    border-top: 1px solid;
    border-top-color:rgb(28, 28, 29);
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}
.sm_titulo{
    color: rgb(174, 0, 255);
    border-radius: 40px;
    height:fit-content;
    width: 30%;
    background-color: rgb(236, 236, 236);
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}
.sm_texto{
    margin-top: 8vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.tudo_sm{

}

.eu{
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh; 

}
.eu img{
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    height: 20rem;
    width: 20rem;
    transition: transform 0.5s ease;
}
.eu:hover img{
    transform: scale(1.1);
}

.link{
    transition: transform 0.5s ease;
    text-decoration-line:underline ;
    width: auto;
    height: auto;
    display: inline-flex;
    transition: 0.3s;
}
.link:hover{
    transform: scale(1.1);
    color:rgb(174, 0, 255) ;
}
.link::after{
    background-color:rgb(174, 0, 255) ;
}